<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/games.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/games.js"></script>
    <title>Lets Kiddo!</title>
</head>
<body>


    <nav>


        <h4 id="letsKiddoTitle">Lets Kiddo!</h4>

        <div class="user-wrapper">
            <img src="{{PictureUrl}}" alt="Sadita ahmed" width="30px" height="30px">
            <div>
                <h4>{{Name}}</h4>
                <small> {{AgeGroup}}, {{UserID}} </small>
            </div>

        </div>


    </nav>
    <div style=" background-color: orangered;">
        <button class="btn second" onclick="window.location.href='/HomePage';"><strong>Home</strong></button>
        <button class="btn second" onclick="window.location.href='/friendList';"><strong>Friends list</strong></button>
        <button class="btn second" onclick="window.location.href='/games';"><strong>Games</strong></button>
        <button class="btn second" onclick="window.location.href='/learnFun';"><strong>Learn fun</strong></button>
        <button class="btn second" onclick="window.location.href='/profile';"><strong>Profile</strong></button>
        <button class="btn second" onclick="window.location.href='/';"><strong>Log Out</strong></button>
    </div>

    <h1 style="text-align:center; background-color: yellow;">Woohooo, lets play some games, shall we?</h1>
    <button class="postButton2" onclick="window.location.href='https://www.friv5online.com/';"><strong>Play more games</strong></button>

    <div id="snakeGame">

        <canvas width="400" height="400" id="game"></canvas>
    </div>

    <script>
        var canvas = document.getElementById('game');
        var context = canvas.getContext('2d');

        var grid = 16;
        var count = 0;

        var snake = {
            x: 160,
            y: 160,

            // snake velocity. moves one grid length every frame in either the x or y direction
            dx: grid,
            dy: 0,

            // keep track of all grids the snake body occupies
            cells: [],

            // length of the snake. grows when eating an apple
            maxCells: 4
        };
        var apple = {
            x: 320,
            y: 320
        };

        // get random whole numbers in a specific range
        // @see https://stackoverflow.com/a/1527820/2124254
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        // game loop
        function loop() {
            requestAnimationFrame(loop);

            // slow game loop to 15 fps instead of 60 (60/15 = 4)
            if (++count < 4) {
                return;
            }

            count = 0;
            context.clearRect(0, 0, canvas.width, canvas.height);

            // move snake by it's velocity
            snake.x += snake.dx;
            snake.y += snake.dy;

            // wrap snake position horizontally on edge of screen
            if (snake.x < 0) {
                snake.x = canvas.width - grid;
            }
            else if (snake.x >= canvas.width) {
                snake.x = 0;
            }

            // wrap snake position vertically on edge of screen
            if (snake.y < 0) {
                snake.y = canvas.height - grid;
            }
            else if (snake.y >= canvas.height) {
                snake.y = 0;
            }

            // keep track of where snake has been. front of the array is always the head
            snake.cells.unshift({ x: snake.x, y: snake.y });

            // remove cells as we move away from them
            if (snake.cells.length > snake.maxCells) {
                snake.cells.pop();
            }

            // draw apple
            context.fillStyle = 'red';
            context.fillRect(apple.x, apple.y, grid - 1, grid - 1);

            // draw snake one cell at a time
            context.fillStyle = 'green';
            snake.cells.forEach(function (cell, index) {

                // drawing 1 px smaller than the grid creates a grid effect in the snake body so you can see how long it is
                context.fillRect(cell.x, cell.y, grid - 1, grid - 1);

                // snake ate apple
                if (cell.x === apple.x && cell.y === apple.y) {
                    snake.maxCells++;

                    // canvas is 400x400 which is 25x25 grids
                    apple.x = getRandomInt(0, 25) * grid;
                    apple.y = getRandomInt(0, 25) * grid;
                }

                // check collision with all cells after this one (modified bubble sort)
                for (var i = index + 1; i < snake.cells.length; i++) {

                    // snake occupies same space as a body part. reset game
                    if (cell.x === snake.cells[i].x && cell.y === snake.cells[i].y) {
                        snake.x = 160;
                        snake.y = 160;
                        snake.cells = [];
                        snake.maxCells = 4;
                        snake.dx = grid;
                        snake.dy = 0;

                        apple.x = getRandomInt(0, 25) * grid;
                        apple.y = getRandomInt(0, 25) * grid;
                    }
                }
            });
        }

        // listen to keyboard events to move the snake
        document.addEventListener('keydown', function (e) {
            // prevent snake from backtracking on itself by checking that it's
            // not already moving on the same axis (pressing left while moving
            // left won't do anything, and pressing right while moving left
            // shouldn't let you collide with your own body)

            // left arrow key
            if (e.which === 37 && snake.dx === 0) {
                snake.dx = -grid;
                snake.dy = 0;
            }
            // up arrow key
            else if (e.which === 38 && snake.dy === 0) {
                snake.dy = -grid;
                snake.dx = 0;
            }
            // right arrow key
            else if (e.which === 39 && snake.dx === 0) {
                snake.dx = grid;
                snake.dy = 0;
            }
            // down arrow key
            else if (e.which === 40 && snake.dy === 0) {
                snake.dy = grid;
                snake.dx = 0;
            }
        });

        // start the game
        requestAnimationFrame(loop);
    </script>










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>
</html>
