<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/indexStyle.css" />
    <title>Lets Kiddo!</title>
</head>
<body>
    <div class="heading">
        <h1>Welcome to Let's Kiddo!</h1>
    </div>
    <div class="row">
        <div class="box">
            <div class="contentbox">
                <h2>Lets Kiddo!</h2>
                <p>
                    This a social media only for kids.We have divided kids in three
                    catagories: 1)gggjhgfjgh
                    2)dgdsgf
                    3)gdfgdg
                    Here kids can write blogs, give product reviews, give rating to other's post
                    and comment on it.We want to provide kids a safe place where they can socialize
                    through their skills with the same age group of others.
                </p>
            </div>
        </div>
        <div class="main">
            <!-- <li><a href="/">Home</a></li> --->
            <p ><a href="/login">Login</a><br><a href="/register">Register</a></p>
        </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>

