<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/login.css"/>
    <title>Lets Kiddo!</title>
</head>
<body>


    <nav>
        <h4>Lets Kiddo!!</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <form action="/auth/login" method="post">
        <label for="UserID"> ID:</label><br>
        <input type="text" id="UserID" name="UserID"><br>



        <label for="Password"> Password:</label><br>
        <input type="text" id="Password" name="Password"><br>




        <button type="submit">Login</button>
    </form>
    {{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}


</body>
</html>

