@import url('https://fonts.googleapins.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #96BAFF;
    font-family: 'Poppins',sans-serif;
}

.heading {
    color: #FAFF00;
    text-align: center;
    position: relative;
    left:400px;
    bottom: 350px;
    font-size: 70px;
    padding: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 80%;
    padding: 20px;
    position: relative;
    right: 470px;
    left: -470px;
    top: 75px;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #04009A;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: aliceblue;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: aliceblue;
    z-index: -2;
    filter: blur(40px);
}
    .box:before,
    .box:after {
        background: linear-gradient(235deg,#FAFF00,aliceblue,#FAFF00)
    }
.contentbox {
    padding: 20px;
    box-sizing: border-box;
    color: #EEEEEE;
}

h2 {
    color: #FAFF00;
    text-align: center;
}

.main {
    flex:20%;
    padding: 20px;
    color: #FAFF00;
    position: relative;
    bottom: 240px;
    left: 100px; 
    right: -100px;
    font-size: 40px; 
}

@media (max-width: 70px) {
    .row,.heading {
        flex-direction: column;
    }
}
